/* Navbar */
.navbar-brand {
    font-family: Viga;
    font-size: 32px;
    color: white !important;
}

.nav-link {
    color: white !important ;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.7);
}

.nav-link {
    text-transform: uppercase;
    margin-right: 30px;
}

.nav-link:hover::after {
    content: '';
    display: block;
    border-bottom: 3px solid #0B63DC;
    margin: auto;
    padding-bottom: 5px;
    margin-bottom: -8px;
}
/* Jumbotron */
.jumbotron {
    background-image: url();
    background-size: cover;
    height: 640px;
    margin-top: -75px;
    
}

.jumbotron .display-4 {
    color: white;
    text-align: center;
    margin-top: 150px;
    font-weight: 200;
}

.jumbotron .display-4 span {
    font-weight: 500;
}